@charset "UTF-8";

body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}

section{
    width: 400px;
    min-height: 300px;
    margin: 100px auto;
    padding: 10px;
    background-color: teal;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.329);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-transform: uppercase;
}

div#temperaturas{
    position: relative;
    margin-top: 20px;
}

#temperaturas div{
    margin-bottom: 20px;
}

#temperaturas input{
    width: 80px;
    padding: 5px;
    font-weight: bold;
}

button{
    padding: 10px;
    text-align: center;
    font-weight: bold;
}